@font-face {
  font-family: 'Inter';
  src: url('/public/Inter-Regular.e89cb19.ttf') format('truetype');
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}


.nav-menu {
  display: flex;
  width: 100%;
}

.tab-button {
  flex-grow: 1; /* Каждая кнопка занимает равное место */
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 0; /* Отступы сверху и снизу */
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: bold; /* Жирный текст */
  transition: background 0.3s, border 0.3s;
  border-right: 1px solid #444; /* Разделение кнопок */
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-button:last-child {
  border-right: none; /* У последней кнопки убираем разделитель */
}

.tab-button:hover {
  background-color: #444; /* Фон при наведении */
}

.main-content {
  margin-top: 54px; /* Учитываем высоту topbar + градиент */
}


.tab-button img.logo-image {
  width: 40px;  /* Ширина картинки для лого */
  height: auto; /* Высота автоматически подстраивается */
  display: block; /* Убирает лишний отступ */
}

.tab-button img.cab-image {
  width: 30px;  /* Ширина картинки для личного кабинета */
  height: auto; /* Высота автоматически подстраивается */
  display: block; /* Убирает лишний отступ */
}

/* Стили для вращения только лого */
.tab-button:hover img.logo-image {
  animation: rotateAnimation 1.5s ease-in-out 1; /* Вращение при наведении */
}

/* Ключевая анимация для вращения */
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* Начальное положение */
  }
  50% {
    transform: rotate(180deg); /* Половина вращения */
  }
  100% {
    transform: rotate(360deg); /* Полный оборот */
  }
}





.gradient-strip {
  position: absolute; /* Абсолютное позиционирование */
  top: 70px; /* Размещаем полоску вверху */
  left: 0;
  width: 100%; /* Полоска на всю ширину */
  height: 8px; /* Толщина полоски */
  background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Градиент */
}
